* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 15vh;
}
@keyframes grow {
    from {width: 0px; height: 0px;};
    to {width: 450px; height: 600px;};
}
@font-face {
    font-family: 'handwritten';
    src: url(./fonts/aAutoSignature.ttf);
}
@font-face {
    font-family: 'typewriter';
    src: url(./fonts/JMH\ Typewriter.ttf);
}
@font-face {
    font-family: 'calligraphy';
    src: url(./fonts/ChopinScript.otf);
}
body {
    background-image: url(./images/old-library-medium.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: fit-content;
    overflow: auto;
    display: grid;
    grid-template-rows: var(--header-height);
}
@media(min-width: 1921px) {
    body {
        background-image: url(./images/old-library-large.jpeg);
    }
}
header {
    height: var(--header-height);
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    grid-row: 1;
}
header h1 {
    color: tan;
    font-size: 3.5rem;
}
#container {
    padding: 50px;
    height: 100%;
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}
#container.cards {
    background-color: black;
    opacity: 0.7;
}
button#add {
    font-size: 3rem;
    padding: 1.5rem;
    border: none;
    line-height: 1.2rem;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
}
button#add:hover {
    background-color: black;
    color: buttonface;
    cursor: pointer;
}
#container form {
    height: 650px;
    width: 450px;
    border-radius: 1rem;
    /*background-color: black;*/
    background-image: url(./images/index-card.jpeg);
    background-position: 50% 20%;
    position: absolute;
    z-index: 1;
    justify-self: center;
    grid-row: 2;
    padding: 30px;
    display: grid;
    grid-template-rows: min-content repeat(4, 1fr);
    grid-template-columns: min-content 1fr;
    color: white;
}
#readContainer {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
}
.cards {
    /* background-color: hsla(0, 0%, 0%, 0.8); */
    background-image: url(./images/book-cover-3D.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
    height: 650px;
    width: 500px;
    padding: 30px;
    padding-right: 50px;
    font-size: 1.5rem;
    color: white;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}
button.delete {
    height: 2rem;
    width: min-content;
    background: none;
    border: none;
    justify-self: end;
    align-self: start;
}
form button.delete {
    grid-column: 1/3;
}
.cards button.delete {
    padding-right: 20px;
}
button.delete svg{
    height: 2rem;
    width: auto;
    stroke: white;
    fill: white;
    border: 2px solid hsla(0, 0%, 0%, 0);
}
button.delete svg:hover {
    cursor: pointer;
    border-color: white;
    border-radius: 4px;
}
.key {
    grid-column: 1;
    justify-self: end;
    align-self: start;
}
.value {
    /* grid-column: 2; */
    align-self: start;
}
form label {
    font: 2.2rem 'handwritten';
    color: black;
}
input {
    height: min-content;
}
input[type='text'],
input[type='number'] {
    padding-left: 5px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0);
    border-style: none;
    font: 1.5rem 'typewriter';
}
input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}
.one {
    justify-self: end;
}
.one, .two {
    align-self: center;
}
#form-submit {
    grid-column: 1/3;
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: hsla(0, 0%, 0%, 0);
    max-width: 50%;
    justify-self: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-family: 'typewriter';
}
#form-submit:hover {
    background-color: black;
    color: buttonface;
    border-color: buttonface;
    cursor: pointer;
}
form label[for='title'] {
    position: relative;
    top: 35px;
}
input#title {
    position: relative;
    top: 30px;
}
form label[for='author'] {
    position: relative;
    top: -15px;
}
input#author {
    position: relative;
    top: -18px;
}
form label[for='pages'] {
    position: relative;
    top: -73px;
}
input#pages {
    position: relative;
    top: -70px;
}
input#read {
    position: relative;
    top: -10px;
}
form label[for='read'] {
    position: relative;
    top: -25px;
}
p.title {
    font: 2.8rem 'calligraphy';
    letter-spacing: 2px;
    text-align: center;
}
div.checkContainer {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: min-content 1fr;
    align-items: center;
    padding-left: 65px;
}
.cards span {
    font-size: 2rem;
}